@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: var(--light-cyan);
  font-size: 28px;
  background-color: var(--dark-grayish-blue);
  text-align: center;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 1.5em;
  max-width: 450px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  margin: 0;
}

figure {
  margin: 0;
}

button {
  background-color: var(--neon-green);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
  margin-top: 2.5em;
  margin-bottom: -5em;
}

button:active {
  box-shadow: 0px 0px 20px 10px hsla(150, 100%, 66%, 0.5);
}

.spin {
  animation: spin 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  flex-shrink: 0;
}

.attribution {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--neon-green);
  text-decoration: none;
}

.attribution a:hover {
  color: hsla(150, 100%, 66%, 0.5);
}

@media (max-width: 575px) {
  main {
    width: 75%;
    max-width: none;
    padding: 1em;
    margin: 0;
  }

  footer {
    display: none;
  }
}
